<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Messege</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="row">
        <div class="col-md-3 col-sm-0"></div>
        <div class="col-md-6 col-sm-12">
            <nav class='navbar  navbar-expand ' style='height:8vh;background-color:rgb(219, 166, 242);'>
                <a class='navbar-brand' id='navbar-brand' href='/' style='margin-right:20%;'><img height=25 width=25 src='/static/message.svg'></a>
                <ul class='navbar-nav mr-auto '>


                    <li class="nav-item dropdown ">

                        <a class="nav-link dropdown-toggle " name='Notification' href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span id='notification_icon'><img height=20 width=20 src='/static/notification.svg'></span>
                        </a>
                        <div class="dropdown-menu mr-0" id='notificationdiv' aria-labelledby="navbarDropdown">
                            {% if request.notification %}
                            {% for notification in request.notification %}
                            <a class="dropdown-item" href="{{notification.url}}">{{notification.body}}</a>
                            <div class="dropdown-divider"></div>
                            {%endfor%}
                            {%else%}

                            no notification
                            {%endif%}
                        </div>
                    </li>
                    <li class='nav-item ml-5'>
                        <a class='nav-link' href='/setting/online_users/'><img height=20 width=20 src='/static/users.svg'></a>
                    </li>
                </ul>
                <ul clas='navbar-nav ml-auto' style='list-style: none;'>
                    <li class='nav-item'>
                        <a class='nav-link mt-3 mr-3' href='/setting/'><img height=20 width=20 src='/static/user.svg'></a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-3 col-sm-0"></div>

    </div>

    <div>
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
    <script src="~/signalr.js"></script>
    <script src="~/message.js"></script>
</body>
</html>
