@using  Messege.ViewModels
@model  ProfileView

   
       
            
            <div class="container text-center mt-3">
                <img src="/@Model.Profile_Picture" height="150" width="150" class="rounded-circle" />
                <div> @Model.Email</div>
                <b>@Model.First_Name @Model.Last_Name</b>
                <button class="edit_profile"></button>
            </div>
        
  

