@using Messege.ViewModels
@model  List<SearchView>
   
       
            <div class="card mb-1">SearchResults </div>
            @foreach (var result in Model)
            {
                <div class="container text-center mb-2">
                    <img src="/@result.Profile_Picture" height="55" width="55" class="rounded-circle" />
                    <div>@result.First_Name @result.Last_Name</div>
                    @if (result.Status == 1)
                    {
                        <button class="btn  btn-primary btn-sm button_request" name=@result.Id value=disconnect_@result.Id>Disconnect</button>
                    }
                    else if (result.Status == 2)
                    {
                        <div class="form-group">
                            <button class="btn  btn-primary btn-sm button_request" name=@result.Id value=accept_@result.Id>Accept</button>
                            <button class="btn  btn-primary btn-sm button_request" name=@result.Id value=decline_@result.Id>Decline</button>

                        </div>

                    }
                    else if (result.Status == 3)
                    {
                        <div class="form-group">
                            <button class="btn  btn-primary btn-sm button_request" name=@result.Id value=cancel_request_@result.Id>Cancel Request</button>
                        </div>
                    }
                    else if (result.Status == 4)
                    {
                        <div></div>
                    }
                    else if (result.Status == 5)
                    {

                        <button class="btn  btn-primary btn-sm button_request" name=@result.Id value=connect_@result.Id >Connect</button>
                    }

                </div>
            }
            <script src="~/signalr.js"></script>
            <script src="~/search.js"></script>
            <script src="~/lib/jquery/dist/jquery.js"></script>
        
       
      
