<div class="senderid" id="@ViewBag.Sender" hidden></div>
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 mt-0" style="width:100%">

        <video class="mt-0" autoplay id="usko_video"></video><br />
        <div class="text-center" id="video_box">

            <video autoplay id="mero_video"></video>
        </div>
        <button id="button" class="btn btn-md btn-primary text-center">Reconnect</button>
    </div>
    <div class="col-sm-3">
        
    </div>
</div>
<script src="~/signalr.js"></script>
<script src="~/js/receivecall.js"></script>

