<div class="senderid" id="@ViewBag.Sender" hidden></div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6" style="width:100%">
            <video style="transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg);-moz-transform:rotateY(180deg);" autoplay id="usko_video" height="400" width="400"></video><br />
            <video style="transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); -moz-transform:rotateY(180deg);" autoplay id="mero_video" height="100" width="100"></video>
        </div>
        <div class="col-sm-3"></div>
    </div>
<script src="~/signalr.js"></script>
<script src="~/js/receivecall.js"></script>

