<div id="user" Value="@ViewBag.Receiver" hidden></div>

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6" style="width:100%">
       
    <video autoplay id="usko_video" height="400" width="400"></video><br />

        
            <video class="text-center" autoplay id="mero_video" height="100" width="100"></video>
       
    </div>
    <div class="col-sm-3"></div>
</div>

<script src="~/signalr.js"></script>
<script src="~/js/makecall.js"></script>