<div id="user" Value="@ViewBag.Receiver" hidden></div>

<div class="row">
   
    <div class="col-sm-12 mt-0" style="width:100%">

        <div id="video_group">
            <video class="mt-0" autoplay id="usko_video"></video><br />
            <div class="text-center" id="video_box">

                <video autoplay id="mero_video"></video>
            </div>
            <button id="button" class="btn btn-md btn-danger text-center">Reconnect</button>
        </div>
   </div>
</div>

<script src="~/signalr.js"></script>
<script src="~/js/makecall.js"></script>