/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
#video_box {
    float: left;
}




#usko_video {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
   width:100%;
    height: 100%;
    min-height: 75vh;
    max-height: 90vh;
    bottom: 1px;
    background-image: url('../call.gif');
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: center top;
    background-size: cover;
    border: solid 2px;
    border-radius: 1px;
    border-color: pink;
}
#button{
    height:8vh;
    position:absolute;
    bottom:2%;
   
    border-radius:50px;
  
   border:dotted 2px;
    margin-left:40%;
    cursor:pointer;
}
#button:hover{  
    
    height:9vh;
    font-size:medium;
    
    border:groove 2px;

}

#mero_video {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    border: solid 2px;
    border-radius:5px;
    border-color: pink;
    position: absolute;
    float: left;
    bottom: 1%;
    width: 30%;
    margin: 0px;
    z-index: 300000;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
